:root {
  --top-line-color: #ffffff; /*цвет основного фона*/
  --blue-color: #2196f3; /*цвет на сайте,кнопка,ссылка*/
  --grey-color: #2f303a; /*цвет фона темно-серый*/
  --main-text-color: #757575; /*цвет шрифта серый*/
  --dark-grey-color: #212121; /*цвет шрифта черный-заголовок,описание*/
  --studio-top-color: #000000; /*цвет текста*/
  --mud-white-color: #f5f4fa;/*image background*/
  --dark-white-color: #f5f5f5;/*body backgroun*/
  --mail-color: rgba(255, 255, 255, 0.6); /* цвет tel,mail*/

}

body {
  font-family: 'Roboto', san-serif;
  background-color: var(--dark-white-color);
}
.list {
  list-style: none;
}
.link-decoration {
  text-decoration: none;
}
.title {
  background-color: var(--top-line-color--);
}
.Web-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.Studio-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--studio-top-color);
}

.navigation-header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}
.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--blue-color);
}
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--blue-color);
}
.btn {
  font-family: 'inherit';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey-color);
}
.btn:hover,
.btn:focus {
  color:var(--top-line-color);
}
.site-footer {
  background: var(--grey-color);
}
.Web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color:var(--blue-color);
}
.Studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--top-line-color);
}
.google-map:hover,
.google-map:focus {
  color: var(--blue-color);
}
.google-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color:var(--top-line-color);
}

.contact-email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--mail-color);
}
.contact-email:hover,
.contact-email:focus {
  color:var(--blue-color);
}
.contact-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color:var(--mail-color)
}
.contact-phone:hover,
.contact-phone:focus {
  color:var(--blue-color);
}
.slogan-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--top-line-color);
}
.title-slogan {
  background:var(--grey-color);
}
.button-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--top-line-color);
  background:var(--blue-color);
}
.soft-skills-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--dark-grey-color);
}
.soft-skills-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color:var(--main-text-color);
}
.image-job-title,
.image-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color:var(--dark-grey-color);
}
.image-background {
  background-color:var(--mud-white-color);
}
.image-team-position {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color:var(--main-text-color);
}
